<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772934118449-a5pusvljk1crd1tq5l53j3qlnhoo4m9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772934118449-a5pusvljk1crd1tq5l53j3qlnhoo4m9u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772934118449-l9tse4qig0n8fjpt8l7m5gloiedmdorr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_eVXMeJfLkugSvmbCdPe6pjGy91ghMIE</string>
	<key>GCM_SENDER_ID</key>
	<string>772934118449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jr.goodlic</string>
	<key>PROJECT_ID</key>
	<string>rodmensoft-example1</string>
	<key>STORAGE_BUCKET</key>
	<string>rodmensoft-example1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772934118449:ios:de8a66e25f59d4e8177910</string>
</dict>
</plist>